// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority



.main-nav {
  $block-name: &; // #{$block-name}__element

  position: relative;
  z-index: 10;

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &:not(&--lvl-2):not(&--lvl-3) {
      @media (min-width: 1280px) {
        gap: 72px 120px;
      }

      @media (min-width: $screen-xl) {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 72px;
      }
    }

    // мобильный вид списка
    @media (max-width: ($screen-xl - 1)) {}

    // настольный вид списка
    @media (min-width: $screen-xl) {}
  }

  &__item {
    position: relative;

    &:not(&--lvl-2):not(&--lvl-3) {
      @media (min-width: 1280px) {
        width: calc(100% / 4 - (120px * 3 / 4));
      }

      @media (min-width: $screen-xl) {
        width: calc(100% / 4 - (72px * 3 / 4));
      }

      @media (max-width: ($screen-xl - 1)) {
        padding-left: 16px;
        font-size: 1.5rem;

        &+& {
          margin-top: 16px;
        }
      }
    }

    &--active {
      &>#{$block-name}__link {
        // stylelint-disable-line  selector-combinator-blacklist
        color: #000;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    text-decoration: none;
    color: $primary-color;

    &:not(&--lvl-2):not(&--lvl-3) {
      font: 15px $ff-g-ex-b;
      color: $primary-color;

      @media (min-width: $screen-xxl) {
        font-size: 24px;
      }

      @media (min-width: $screen-xl) {
        font-size: 18px;
      }
    }

    &:hover,
    &:focus {
      z-index: 1;
      text-decoration: none;
      color: $accent-color;
    }

    &--lvl-2,
    &--lvl-3 {
      padding: 7.5px 0;
      font-size: 16px;
      line-height: 150%;
    }

    &--lvl-2 {
      @media (max-width: ($screen-xl - 1)) {
        padding: 6px 0;
        font-size: 14px;
        padding-left: 16px;
      }
    }
  }

  &__sublist-wrapper {
    &--lvl-2 {
      @media (min-width: $screen-xxl) {}

      @media (min-width: $screen-xl) {
        margin-top: 17px;
      }

      @media (max-width: ($screen-xl - 1)) {
        display: none;
        padding-top: 10px;
      }
    }

    &--lvl-3 {}
  }

  &__toggler {


    @media (min-width: $screen-xl) {
      display: none;
    }

    @media (max-width: ($screen-xl - 1)) {
      // @include btn-unstiled;
      border: none;
      background-color: transparent;
      position: absolute;
      right: 0;
      top: 6px;
      line-height: 0;
      transition: transform $transition-time;

      &.active {
        transform: rotate(180deg);

        svg {
          path {
            stroke: $accent-color;
          }
        }
      }

      &.active~.main-nav__sublist-wrapper {
        display: block;
      }
    }

    svg {
      pointer-events: none;

      path {
        stroke: $primary-color;
        fill: none;
        transition: stroke $transition-time;
      }
    }

    .no-js & {
      display: none;
    }
  }
}