-
  var mainMenu = [
    {
      "id": "0",
      "name": "Информация для сотрудников",
      "url": "javascript:void(0)",
      "childs": [
        {
          "id": "0-10",
          "name": "Организационная структура",
          "url": "javascript:void(0)"
        },
        {
          "id": "0-20",
          "name": "Справочник сотрудников",
          "url": "javascript:void(0)"
        },
        {
          "id": "0-30",
          "name": "База знаний",
          "url": "javascript:void(0)"
        },
        {
          "id": "0-40",
          "name": "Шаблоны документов",
          "url": "javascript:void(0)"
        },
        {
          "id": "0-50",
          "name": "Электронная библиотека",
          "url": "javascript:void(0)"
        },
        {
          "id": "0-60",
          "name": "Информация по ДМС",
          "url": "javascript:void(0)"
        },
      ]
    },
    {
      "id": "10",
      "name": "О компании",
      "url": "javascript:void(0)",
      "childs": [
        {
          "id": "10-10",
          "name": "История АО “Теплоэнерго”",
          "url": "javascript:void(0)"
        },
        {
          "id": "10-20",
          "name": "АО “Теплоэнерго” сегодня",
          "url": "javascript:void(0)"
        },
        {
          "id": "10-30",
          "name": "Руководство компании",
          "url": "javascript:void(0)"
        },
        {
          "id": "10-40",
          "name": "Миссия, стратегия и ценности компании",
          "url": "javascript:void(0)"
        }
      ]
    },
    {
      "id": "20",
      "name": "Кадровый помощник",
      "url": "javascript:void(0)",
      "childs": [
        {
          "id": "20-10",
          "name": "Отдел организационного проектирования и формирования персонала",
          "url": "javascript:void(0)"
        },
        {
          "id": "20-20",
          "name": "Отдел подбора и обучения персонала",
          "url": "javascript:void(0)"
        },
        {
          "id": "20-30",
          "name": "Отдел кадров",
          "url": "javascript:void(0)"
        }
      ]
    },
    {
      "id": "30",
      "name": "Заявки и обращения",
      "url": "#",
      "childs": [
        {
          "id": "30-10",
          "name": "Задать вопрос",
          "url": "javascript:void(0)"
        },
        {
          "id": "30-20",
          "name": "Заявка по вопросам “ИТ”",
          "url": "javascript:void(0)"
        },
        {
          "id": "30-30",
          "name": "Заявка по вопросам “АХО”",
          "url": "javascript:void(0)"
        },
        {
          "id": "30-40",
          "name": "Заявка по кадровым вопросам",
          "url": "javascript:void(0)"
        }
      ]
    },
    {
      "id": "40",
      "name": "Корпоративное телевидение и газета",
      "url": "#",
      "childs": [
        {
          "id": "40-10",
          "name": "Выпуски корпоративного телевидения",
          "url": "javascript:void(0)"
        },
        {
          "id": "40-20",
          "name": "Газета “Теплые вести”",
          "url": "javascript:void(0)"
        }
      ]
    },
    {
      "id": "50",
      "name": "Медиатека",
      "url": "#",
      "childs": [
        {
          "id": "50-10",
          "name": "Фото",
          "url": "javascript:void(0)"
        },
        {
          "id": "50-20",
          "name": "Видео",
          "url": "javascript:void(0)"
        }
      ]
    },
    {
      "id": "60",
      "name": "Новости",
      "url": "#"
    }
  ];
