// В этом файле должны быть стили для БЭМ-блока use, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.use {

  $block-name: &; // #{$block-name}__element

  margin-bottom: 70px;

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $screen-lg) {
      margin: 0 -20px;
    }

    @media (min-width: $screen-sm) {
      margin: 0 -10px;
    }
  }

  &__item {

    margin-bottom: 20px;
    flex: 0 0 100%;
    display: flex;


    @media (min-width: $screen-lg) {
      flex: 0 0 33.333%;
      padding: 20px;
    }

    @media (min-width: $screen-sm) {
      flex: 0 0 50%;
      padding: 10px;
      margin-bottom: 0;
    }
  }

  &__body {
    width: 100%;
    background-color: $white;
    padding: 30px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    margin-bottom: 20px;
  }

  &__title {
    font: 18px $ff-g-ex-b;
    color: $primary-color;
    margin: 0;

    @media (min-width: $screen-lg) {
      font-size: 22px;
    }
  }
}