extends ../pug/layout.pug

block meta
  title Теплоэнерго
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')


block content

  section.album-det.news.a-section(class=allMods)&attributes(attributes)
    .container
      h2.title-h2 Все страницы 
      .all-pages__inner
        p #[a(href="index.html", target="_blank").link Главная]
        p #[a(href="about.html" target="_blank").link О компании]
        p #[a(href="album1.html" target="_blank").link Альбом детальная]
        p #[a(href="hr-det.html" target="_blank").link Кадровый детельная]
        p #[a(href="media-page.html" target="_blank").link  Медиатека]
        p #[a(href="news-det.html" target="_blank").link Конкурс чистоты и порядка]
        p #[a(href="news.html" target="_blank").link Новости]
        p #[a(href="paper-inner.html" target="_blank").link Газета «Теплые вести» Июль 2021]
        p #[a(href="paper-page.html" target="_blank").link Г азета «Теплые вести»]
        p #[a(href="staff-help.html" target="_blank").link Кадровый помощник список]
        p #[a(href="structure.html" target="_blank").link Организационная структура]
        p #[a(href="directory.html" target="_blank").link Справочник сотрудников]
        p #[a(href="org.html" target="_blank").link Организационная структура подразделение]
        p #[a(href="doc-templates.html" target="_blank").link Шаблоны документов]
        p #[a(href="base.html" target="_blank").link База знаний]
        p #[a(href="info.html" target="_blank").link Информация для сотрудников]
        p #[a(href="quest-list.html" target="_blank").link Список опросов]
        p #[a(href="quest.html" target="_blank").link Опрос (конкурс детского рисунка «Раскрась маску» (11-13 лет))  ]
        p #[a(href="quest-result.html" target="_blank").link Результат опроса (Конкурса детского рисунка &laquo;Раскрась маску&raquo; (11-13&nbsp;лет))]
        p #[a(href="pers-card.html" target="_blank").link Личная карточка сотрудника]
        p #[a(href="pers-card-edit.html" target="_blank").link Личная карточка сотрудника Редактирование]
        p #[a(href="orders.html" target="_blank").link Заявки]
        p #[a(href="rost-offers.html" target="_blank").link РОСТ предложения]
        p #[a(href="ask.html" target="_blank").link Задать вопрос]
        p #[a(href="vacation.html" target="_blank").link Отпуска]
        p #[a(href="my-vacation.html" target="_blank").link Отпуск моего подразделения]
        p #[a(href="search.html" target="_blank").link Поиск]
        p #[a(href="docs.html" target="_blank").link Общие документы]
    


//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')




