extends ../pug/layout.pug

block meta
  title Справочник сотрудников
  meta(name='description' content='')

//- block append head
//-   link(rel='stylesheet' href='css/some.css')


block content

  section.directory.news.a-section
    .directory__inner.container
      h2.directorys__title.title-h2 Справочник сотрудников

      section.search-f
        form.search-f__cont
          +field-text({
            helpText: 'Подсказка',
            val: '',
            attrs: {
              type: 'text',
              name: 'search',
              placeholder: 'Поиск сотрудника',
              required: 'required',
            }
          })
          button(type="button").search-f__btn.btn.btn-accent Поиск

    section.emp
      .emp__inner 
        .emp__content 
          table.emp__table
            caption.sr-only Справочник сотрудников
              thead 
                tr 
                  th Фото
                  th ФИО
                  th Подразделение
                  th Должность
                  th Место работы
                  th Внутренний телефон
                  th Внутренний e-mail
              tbody 
                tr 
                  td 
                    img.emp__img(src="img/user.svg", alt="")
                  td Иванов Иван Иванович
                  td Департамент правовых и имущественных отношений
                  td Заместитель генерального директора по развитию и строительству
                  td Центр обслуживания клиентов, Бульвар Мира, 14, офис 505
                  td +7 (831) 277-91-31
                  td ivanov@teploenergo-nn.ru
                tr 
                  td 
                    img.emp__img(src="img/user.svg", alt="")
                  td Иванов Иван Иванович
                  td Департамент правовых и имущественных отношений
                  td Заместитель генерального директора по развитию и строительству
                  td Центр обслуживания клиентов, Бульвар Мира, 14, офис 505
                  td +7 (831) 277-91-31
                  td ivanov@teploenergo-&nbsp;nn.&nbsp;ru
                tr 
                  td 
                    img.emp__img(src="img/user.svg", alt="")
                  td Иванов Иван Иванович
                  td Департамент правовых и имущественных отношений
                  td Заместитель генерального директора по развитию и строительству
                  td Центр обслуживания клиентов, Бульвар Мира, 14, офис 505
                  td +7 (831) 277-91-31
                  td ivanov@teploenergo-nn.ru
                tr 
                  td 
                    img.emp__img(src="img/user.svg", alt="")
                  td Иванов Иван Иванович
                  td Департамент правовых и имущественных отношений
                  td Заместитель генерального директора по развитию и строительству
                  td Центр обслуживания клиентов, Бульвар Мира, 14, офис 505
                  td +7 (831) 277-91-31
                  td ivanov@teploenergo-nn.ru
                tr 
                  td 
                    img.emp__img(src="img/user.svg", alt="")
                  td Иванов Иван Иванович
                  td Департамент правовых и имущественных отношений
                  td Заместитель генерального директора по развитию и строительству
                  td Центр обслуживания клиентов, Бульвар Мира, 14, офис 505
                  td +7 (831) 277-91-31
                  td ivanov@teploenergo-nn.ru

        .emp__bottom 
          a.emp__link(href="#")
            svg(width='44' height='48' viewBox='0 0 44 48' fill='none' xmlns='http://www.w3.org/2000/svg')
              g(clip-path='url(#clip0_84_8475)')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M21 2.00003H2V46H34V45V44V15H22C21.4477 15 21 14.5523 21 14V2.00003ZM35.7071 13.2929C35.725 13.3108 35.7421 13.3292 35.7584 13.3482C35.9062 13.5201 35.9889 13.7343 35.999 13.9543M36 14.0078V44V45V46C36 47.2162 34.9862 48 34 48H2C0.783853 48 0 46.9862 0 46V2.00003C0 0.783882 1.01382 2.91965e-05 2 2.91965e-05H21.9921C22.01 -0.000107519 22.0279 0.000236088 22.0457 0.00105615C22.2626 0.0110288 22.4738 0.0914629 22.6445 0.235393C22.666 0.253562 22.6869 0.272743 22.7071 0.292922L35.7071 13.2929M23 13V3.41424L32.5858 13H23Z' fill='#455582')
                path(d='M42 25H9C7.89543 25 7 25.8954 7 27V39C7 40.1046 7.89543 41 9 41H42C43.1046 41 44 40.1046 44 39V27C44 25.8954 43.1046 25 42 25Z' fill='#455582')
                path(d='M15.8438 28.0469L17.4707 31.3555L19.0977 28.0469H21.832L19.0566 32.9824L21.9072 38H19.1455L17.4707 34.6299L15.7959 38H13.0273L15.8848 32.9824L13.1025 28.0469H15.8438ZM29.2764 36.1543V38H24.2451V36.1543H29.2764ZM25.0996 28.0469V38H22.7002V28.0469H25.0996ZM35.415 35.3545C35.415 35.1995 35.3923 35.0605 35.3467 34.9375C35.3011 34.8099 35.2168 34.6914 35.0938 34.582C34.9707 34.4727 34.793 34.3633 34.5605 34.2539C34.3327 34.14 34.0319 34.0215 33.6582 33.8984C33.2207 33.7526 32.7992 33.5885 32.3936 33.4062C31.988 33.2194 31.6257 33.0029 31.3066 32.7568C30.9876 32.5062 30.7347 32.2145 30.5479 31.8818C30.361 31.5446 30.2676 31.1527 30.2676 30.7061C30.2676 30.2777 30.3633 29.8926 30.5547 29.5508C30.7461 29.2044 31.0127 28.9105 31.3545 28.6689C31.7008 28.4229 32.1064 28.236 32.5713 28.1084C33.0361 27.9762 33.5443 27.9102 34.0957 27.9102C34.8249 27.9102 35.4674 28.0378 36.0234 28.293C36.584 28.5436 37.0215 28.9014 37.3359 29.3662C37.6549 29.8265 37.8145 30.3711 37.8145 31H35.4287C35.4287 30.7493 35.3763 30.5283 35.2715 30.3369C35.1712 30.1455 35.0186 29.9951 34.8135 29.8857C34.6084 29.7764 34.3509 29.7217 34.041 29.7217C33.7402 29.7217 33.4873 29.7673 33.2822 29.8584C33.0771 29.9495 32.9222 30.0726 32.8174 30.2275C32.7126 30.3779 32.6602 30.5443 32.6602 30.7266C32.6602 30.877 32.7012 31.0137 32.7832 31.1367C32.8698 31.2552 32.9906 31.3669 33.1455 31.4717C33.305 31.5765 33.4964 31.6768 33.7197 31.7725C33.9476 31.8682 34.2028 31.9616 34.4854 32.0527C35.014 32.2214 35.4834 32.4105 35.8936 32.6201C36.3083 32.8252 36.6569 33.0599 36.9395 33.3242C37.2266 33.584 37.443 33.8802 37.5889 34.2129C37.7393 34.5456 37.8145 34.9215 37.8145 35.3408C37.8145 35.7874 37.7279 36.1839 37.5547 36.5303C37.3815 36.8766 37.1331 37.1706 36.8096 37.4121C36.486 37.6491 36.0986 37.8291 35.6475 37.9521C35.1963 38.0752 34.6927 38.1367 34.1367 38.1367C33.6263 38.1367 33.1227 38.0729 32.626 37.9453C32.1338 37.8132 31.6872 37.6126 31.2861 37.3438C30.8851 37.0703 30.5638 36.7217 30.3223 36.2979C30.0853 35.8695 29.9668 35.3613 29.9668 34.7734H32.373C32.373 35.0651 32.4118 35.3112 32.4893 35.5117C32.5667 35.7122 32.6807 35.874 32.8311 35.9971C32.9814 36.1156 33.166 36.2021 33.3848 36.2568C33.6035 36.307 33.8542 36.332 34.1367 36.332C34.4421 36.332 34.6882 36.2887 34.875 36.2021C35.0618 36.111 35.1986 35.9925 35.2852 35.8467C35.3717 35.6963 35.415 35.5322 35.415 35.3545Z' fill='white')
              defs
                clippath#clip0_84_8475
                  rect(width='44' height='48' fill='white')
            span.emp__load.news-title Выгрузить в Excel
          .emp__select 
            .emp__select-title 
              span Показывать по
            .emp__select-inner 
              select.choices-js
                option(value="1") 10
                option(value="2") 20
                option(value="3") 30 
      +pagination()   



//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')calc