extends ../pug/layout.pug

block meta
  title Информация о ДМС
  meta(name='description' content='')

//- block append head
//-   link(rel='stylesheet' href='css/some.css')


block content

  section.dms.news.a-section
    .dms__inner.container
      h2.dms__title.title-h2 Информация о ДМС
      
      h3.about__hello.subtitle.m-b-40  Что такое добровольное медицинское страхование (ДМС)
      .hr-det__descr.m-b-40 
        p.hr-det__text.text ДМС — это страхование, которое позволяет получить медицинские услуги в случае болезни. Если вам потребуется медицинская помощь, вы сможете попасть к врачу в удобное время, быстро сдать анализы и пройти лечение.
      
      h3.about__hello.subtitle.m-b-40  Как пользоваться ДМС
      +use()
      h3.about__hello.subtitle.m-b-40  Список медицинских услуг по полису ДМС
      ul.dms__list
        li.dms__item
          p.dms__text.text Консультации и&nbsp;приёмы врачей, в&nbsp;том числе, врачей с&nbsp;учёной степенью и&nbsp;научным званием: терапевт, педиатр, акушер-гинеколог, аллерголог-иммунолог, гастроэнтеролог, дерматовенеролог, кардиолог, оториноларинголог, офтальмолог, ревматолог, травматолог-ортопед, хирург, эндокринолог, уролог и&nbsp;другие специалисты;
        li.dms__item
          p.dms__text.text Инструментальные исследования: функциональная диагностика, рентген, томография, ультразвук, эндоскопия, диагностика с&nbsp;применением радионуклидов;
        li.dms__item
          p.dms__text.text Физиотерапия: электро- и&nbsp;светолечение, лазеро и&nbsp;магнитотерапия, теплолечение, парафинотерапия, ингаляции, СВЧ, УВЧ, импульсные и&nbsp;диадинамические токи, магнитофорез, электрофорез, индуктотермия, дарсонвализация;
        li.dms__item
          p.dms__text.text Экстренная серопрофилактика столбняка и&nbsp;бешенства по&nbsp;медпоказаниям.

      a(href="#").dms__btn.btn.btn-accent Задать вопрос

      h3.about__hello.subtitle.m-b-40  Список медицинских учреждений
      +med

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')calc 