extends ../pug/layout.pug

block meta
  title История АО&nbsp;&laquo;Теплоэнерго&raquo;
  meta(name='description' content='')

//- block append head
//-   link(rel='stylesheet' href='css/some.css')


block content

  section.about.news.a-section
    .about__inner.container
      h2.about__title.title-h2 История АО&nbsp;&laquo;Теплоэнерго&raquo;
      
      
      h3.about__hello.subtitle.m-b-40  Добро пожаловать на&nbsp;внутрикорпоративный портал сотрудников АО&nbsp;&laquo;Теплоэнерго&raquo;!
      .hr-det__descr.m-b-40 
        p.hr-det__text.text Мы&nbsp;&mdash; крупнейший поставщик тепловой энергии в&nbsp;Нижнем Новгороде. На&nbsp;долю компании приходится порядка 60&nbsp;% объема услуг по&nbsp;обеспечению теплом и&nbsp;горячей водой. Техническая база компании включает в&nbsp;себя 125&nbsp;котельных, более 200 тепловых пунктов и&nbsp;тепловых сетей общей протяженностью около 2000&nbsp;км.
        p.hr-det__text.text Мы&nbsp;&mdash; динамично развивающееся компания, ключевым направлением деятельности которой является надежное и&nbsp;качественное обеспечение потребителей отоплением и&nbsp;горячим водоснабжением.
      h4.hr-det__subtitle.text-bold Для достижения этой цели &laquo;Теплоэнерго&raquo;:
      ul.hr-det__list  
        li.hr-det__item 
          p.hr-det__point.text Внедряет современные технологии на&nbsp;всех этапах эксплуатации и&nbsp;ремонта теплоэнергетического оборудования;
        li.hr-det__item 
          p.hr-det__point.text Сокращает потери и&nbsp;снижает затраты на&nbsp;всех стадиях технологического процесса для максимально эффективного использования энергоресурсов, способствуя, тем самым, улучшению экологической обстановки в&nbsp;городе;
        li.hr-det__item 
          p.hr-det__point.text Увеличивает производительность теплоэнергетических объектов за&nbsp;счет их&nbsp;реконструкции и&nbsp;переоснащения;
        li.hr-det__item 
          p.hr-det__point.text Внедряет передовые ме тодики взаимодействия с&nbsp;потребителями для оперативного решения возникающих вопросов.

      .hr-det__descr.m-b-40 
        p.hr-det__text.text Мы&nbsp;&mdash; Развитие компании зависит не&nbsp;только от&nbsp;технической оснащенности. &laquo;Теплоэнерго&raquo;&nbsp;&mdash; это, в&nbsp;первую очередь, сотрудники, работающие на&nbsp;благо компании и&nbsp;города. На&nbsp;нас с&nbsp;Вами лежит ответственность за&nbsp;комфорт наших сограждан, среди которых наши родные, друзья, знакомые или соседи, на&nbsp;жизни которых отражается качество нашей работы.
        p.hr-det__text.text Чтобы выполнять свою работу на&nbsp;достойном уроне, мы&nbsp;должны понимать друг друга, уважать друг друга, помогать друг другу. Словом&nbsp;&mdash; мы&nbsp;должны быть командой, чему должен активно способствовать этот внутрикорпоративный портал.
        p.hr-det__text.text Основная цель создания интернет-сайта&nbsp;&mdash; сделать информацию о&nbsp;деятельности компании доступной для каждого сотрудника.
        p.hr-det__text.text Здесь Вы&nbsp;узнаете о&nbsp;событиях, мероприятиях и&nbsp;конкурсах, наших достижениях. Здесь Вы&nbsp;можете предлагать свои идеи развития компании и&nbsp;активно участвовать в&nbsp;корпоративной жизни &laquo;Теплоэнерго&raquo;.





//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')calc