extends ../pug/layout.pug

block meta
  title История АО&nbsp;&laquo;Теплоэнерго&raquo;
  meta(name='description' content='')

//- block append head
//-   link(rel='stylesheet' href='css/some.css')


block content

  section.history.news.a-section
    .history__inner.container
      h2.history__title.title-h2 История АО&nbsp;&laquo;Теплоэнерго&raquo;

      .history__content
        ul.history__list 
          li.history__item 
            .history__item-body 
              .history__i-side
                .history__img 
                  img(src="img/news5.jpg", alt="")
                  .history__year(style="background-image: url(../img/2020.svg);") 
              .history__t-side
                h3.history__subtitle.subtitle Теплоэнерго более чем вдвое увеличило объемы благоустройства в 2020 году
                p.history__text.text АО «Теплоэнерго» в 2020 году на 120% увеличило объемы благоустройства после проведения работ. Об этом главе Нижнего Новгорода Юрию Шалабаеву доложил генеральный директор АО «Теплоэнерго» Илья Халтурин в ходе выездного совещания по вопросам восстановления благоустройства после проведения земляных работ в рамках летней ремонтной кампании. Участники совещания побывали на одном из благоустроенных после работ объектов – в районе переулка Университетский.
          li.history__item 
            .history__item-body.reverse 
              .history__i-side
                .history__img 
                  img(src="img/pic1.jpg", alt="")
                  .history__year(style="background-image: url(../img/2015.svg);") 
              .history__t-side
                h3.history__subtitle.subtitle Теплоэнерго получил награду &laquo;Лучший центр по&nbsp;обслуживанию населения в&nbsp;государственных органах и&nbsp;секторе ЖКХ&raquo;
                p.history__text.text АО&nbsp;&laquo;Теплоэнерго&raquo;&nbsp;&mdash; крупнейший поставщик тепловой энергии в&nbsp;Нижнем Новгороде. На&nbsp;долю компании приходится более&nbsp;50% объема услуг по&nbsp;обеспечению теплом и&nbsp;горячей водой. Общество было образовано 22.12.2006 путем реорганизации МП&nbsp;&laquo;Теплоэнерго&raquo;. Единственным акционером АО&nbsp;&laquo;Теплоэнерго&raquo; является муниципальное образование &laquo;Городской округ &laquo;Город Нижний Новгород&raquo;.
          li.history__item 
            .history__item-body 
              .history__i-side
                .history__img 
                  img(src="img/news5.jpg", alt="")
                  .history__year(style="background-image: url(../img/2013.svg);") 
              .history__t-side
                h3.history__subtitle.subtitle Теплоэнерго более чем вдвое увеличило объемы благоустройства в 2020 году
                p.history__text.text АО «Теплоэнерго» в 2020 году на 120% увеличило объемы благоустройства после проведения работ. Об этом главе Нижнего Новгорода Юрию Шалабаеву доложил генеральный директор АО «Теплоэнерго» Илья Халтурин в ходе выездного совещания по вопросам восстановления благоустройства после проведения земляных работ в рамках летней ремонтной кампании. Участники совещания побывали на одном из благоустроенных после работ объектов – в районе переулка Университетский.
          li.history__item 
            .history__item-body.reverse 
              .history__i-side
                .history__img 
                  img(src="img/pic1.jpg", alt="")
                  .history__year(style="background-image: url(../img/2010.svg);") 
              .history__t-side
                h3.history__subtitle.subtitle Теплоэнерго получил награду &laquo;Лучший центр по&nbsp;обслуживанию населения в&nbsp;государственных органах и&nbsp;секторе ЖКХ&raquo;
                p.history__text.text АО&nbsp;&laquo;Теплоэнерго&raquo;&nbsp;&mdash; крупнейший поставщик тепловой энергии в&nbsp;Нижнем Новгороде. На&nbsp;долю компании приходится более&nbsp;50% объема услуг по&nbsp;обеспечению теплом и&nbsp;горячей водой. Общество было образовано 22.12.2006 путем реорганизации МП&nbsp;&laquo;Теплоэнерго&raquo;. Единственным акционером АО&nbsp;&laquo;Теплоэнерго&raquo; является муниципальное образование &laquo;Городской округ &laquo;Город Нижний Новгород&raquo;.
          li.history__item 
            .history__item-body 
              .history__i-side
                .history__img 
                  img(src="img/news5.jpg", alt="")
                  .history__year(style="background-image: url(../img/2006.svg);") 
              .history__t-side
                h3.history__subtitle.subtitle Теплоэнерго более чем вдвое увеличило объемы благоустройства в 2020 году
                p.history__text.text АО «Теплоэнерго» в 2020 году на 120% увеличило объемы благоустройства после проведения работ. Об этом главе Нижнего Новгорода Юрию Шалабаеву доложил генеральный директор АО «Теплоэнерго» Илья Халтурин в ходе выездного совещания по вопросам восстановления благоустройства после проведения земляных работ в рамках летней ремонтной кампании. Участники совещания побывали на одном из благоустроенных после работ объектов – в районе переулка Университетский.



//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')calc 