extends ../pug/layout.pug

block meta
  title Отдел организационного проектирования и&nbsp;нормирования персонала
  meta(name='description' content='')

//- block append head
//-   link(rel='stylesheet' href='css/some.css')


block content

  section.hr-det.news.a-section
    .hr-det__inner.container
      h2.hr-det__title.title-h2 Отдел организационного проектирования и&nbsp;нормирования персонала

      .hr-det__descr.m-b-40 
        p.hr-det__text Переподготовка рабочих и&nbsp;служащих&nbsp;&mdash; профессиональное обучение лиц, уже имеющих профессию рабочего, профессии рабочих или должность служащего, в&nbsp;целях получения новой профессии рабочего или должности служащего с&nbsp;учётом потребностей производства, вида профессиональной деятельности
      ul.hr-help__list 
        li.hr-help__item 
          article.recent-article.hr-help__article 
            .recent-article__pic.hr-help__pic
              img.recent-article__img(src="img/hr1.jpg" alt="Руководитель1")
            .recent-article__meta.hr-help__meta
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover.news-title--sm(href="#") Иванова Мария Ивановна
              .hr-help__position.text-info Руководитель отдела кадров
              .hr-help__about Отвечает за улучшение качества  труда и рабочего места
              .hr-help__data
                a(href="tel:+78312779131").hr-help__cont.hr-help__tel.text-info +7 (831) 277-91-31
                a(href="mailto:personal@teploenergo-nn.ru").hr-help__cont.hr-help__email.text-info personal@teploenergo-nn.ru
              .hr-help__all
                a(href="#").media-article__btn.btn.btn-accent Задать вопрос
        li.hr-help__item 
          article.recent-article.hr-help__article 
            .recent-article__pic.hr-help__pic
              img.recent-article__img(src="img/hr2.jpg" alt="Руководитель1")
            .recent-article__meta.hr-help__meta
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover.news-title--sm(href="#") Иванова Мария Ивановна
              .hr-help__position.text-info Руководитель отдела кадров
              .hr-help__about Отвечает за улучшение качества  труда и рабочего места
              .hr-help__data
                a(href="tel:+78312779131").hr-help__cont.hr-help__tel.text-info +7 (831) 277-91-31
                a(href="mailto:personal@teploenergo-nn.ru").hr-help__cont.hr-help__email.text-info personal@teploenergo-nn.ru
              .hr-help__all
                a(href="#").media-article__btn.btn.btn-accent Задать вопрос
        li.hr-help__item 
          article.recent-article.hr-help__article 
            .recent-article__pic.hr-help__pic
              img.recent-article__img(src="img/hr3.jpg" alt="Руководитель1")
            .recent-article__meta.hr-help__meta
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover.news-title--sm(href="#") Иванова Мария Ивановна
              .hr-help__position.text-info Руководитель отдела кадров
              .hr-help__about Отвечает за улучшение качества  труда и рабочего места
              .hr-help__data
                a(href="tel:+78312779131").hr-help__cont.hr-help__tel.text-info +7 (831) 277-91-31
                a(href="mailto:personal@teploenergo-nn.ru").hr-help__cont.hr-help__email.text-info personal@teploenergo-nn.ru
              .hr-help__all
                a(href="#").media-article__btn.btn.btn-accent Задать вопрос

      .hr-det__descr.m-b-40 
        p.hr-det__text.text Отдел организационного проектирования и&nbsp;нормирования персонала отвечает за&nbsp;документационное и&nbsp;организационное сопровождение мероприятий в&nbsp;части оплаты и&nbsp;организации труда персонала, в&nbsp;том числе связанных с&nbsp;награждениями и&nbsp;поощрениями работников Общества, внедрения единых принципов и&nbsp;требований к&nbsp;разработке, оформлению и&nbsp;содержанию положений о&nbsp;структурных подразделениях и&nbsp;должностных инструкций.

      h4.hr-det__subtitle.text-bold Основные вопросы, входящие в&nbsp;компетенцию отдела организационного проектирования и&nbsp;нормирования персонала:
      ul.hr-det__list  
        li.hr-det__item 
          p.hr-det__point.text Ведение штатного расписания Общества,
        li.hr-det__item   
          p.hr-det__point.text Проектирование организационной структуры Общества и&nbsp;функциональных блоков в&nbsp;соответствии с&nbsp;предложениями, поступающими от&nbsp;структурных подразделений,
        li.hr-det__item   
          p.hr-det__point.text Сопровождение отдельных видов доплат и&nbsp;надбавок, установленных локальными актами Общества,
        li.hr-det__item   
          p.hr-det__point.text Сопровождение мероприятий, награждения работников Общества,
        li.hr-det__item   
          p.hr-det__point.text Организация разработки положений о&nbsp;структурных подразделениях и&nbsp;должностных инструкций структурными подразделениями,
        li.hr-det__item   
          p.hr-det__point.text Расчет нормативной численности работников Общества и&nbsp;отдельных структурных подразделений на&nbsp;основе применения межотраслевых и&nbsp;отраслевых нормативов по&nbsp;труду, исходной информации для расчета, предоставленной структурными подразделениями Общества.

      h4.hr-det__subtitle.text-bold Вы&nbsp;можете проконсультироваться&nbsp;по:
      ul.hr-det__list 
        li.hr-det__item 
          p.hr-det__point.text Процедуре согласования внесения изменений в&nbsp;штатное расписание,
        li.hr-det__item   
          p.hr-det__point.text Порядку оформления документов установления/ отмены надбавки (персональная надбавка, надбавка за&nbsp;разъездной характер работы) и&nbsp;используемых форм документов по&nbsp;указанным основаниям,
        li.hr-det__item   
          p.hr-det__point.text Требованиям, предъявляемым к&nbsp;оформлению проектов положений о&nbsp;структурных подразделениях и&nbsp;должностных инструкций,
        li.hr-det__item   
          p.hr-det__point.text Порядку согласования и&nbsp;утверждения положений о&nbsp;структурных подразделениях и&nbsp;должностных инструкций,
        li.hr-det__item   
          p.hr-det__point.text Оформлению ходатайств, характеристик, наградных листов на&nbsp;работников, представляемых к&nbsp;награждению или поощрению.

      h3.hr-help__subtitle.hr-doc.subtitle Шаблоны типовых документов
      .hr-doc__slider.swiper  
        ul.hr-doc__list 
          li.hr-doc__item
            a(href="/").hr-doc__link
              h4.hr-doc__doc-title.news-title Командировки
              .hr-doc__btn 
                span.hr-doc__more.more-link Подробнее
          li.hr-doc__item
            a(href="/").hr-doc__link
              h4.hr-doc__doc-title.news-title Отсутствие на работе
              .hr-doc__btn 
                span.hr-doc__more.more-link Подробнее
          li.hr-doc__item
            a(href="/").hr-doc__link
              h4.hr-doc__doc-title.news-title Сверхурочная работа
              .hr-doc__btn 
                span.hr-doc__more.more-link Подробнее
          li.hr-doc__item
            a(href="/").hr-doc__link
              h4.hr-doc__doc-title.news-title Материальная помощь
              .hr-doc__btn 
                span.hr-doc__more.more-link Подробнее
      .hr-help__return.return
        a(href="#").hr-help__return-link.return__link Вернуться назад


//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')calc