extends ../pug/layout.pug

block meta
  title Медиатека  
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')


block content

  section.media-page.news.a-section
    .media-page__inner.container
      h2.media-page__title.title-h2
        a(href="").media-page__title-link.title-h2.accent-hover Медиатека  

      ul.media-page__list
        li.media-page__item 
          .media-page__body
            .media-page__top 
              img(src="img/news1.jpg").media-page__img
            .media-page__bottom 
              h3.media-page__title
                a.media-page__link.news-title.accent-hover(href="#") Фото

        li.media-page__item 
          .media-page__body
            .media-page__top 
              article.recent-article.media-page__article 
                a(href="https://youtu.be/v7ELQFYAbXk" data-fancybox="video-gallery").recent-article__pic.p-video__link._video-f-link.media-page__img
                  img._video-f-poster.recent-article__img(src="" alt="Видео")
                  button.video-play.btn-reset
                    svg(width='68' height='48' viewBox='0 0 68 48')
                      path.video-play-shape(d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z')
                      path.video-play-icon(d='M 45,24 27,14 27,34')
            .media-page__bottom               
              h3.media-page__title
                a.media-page__link.news-title.accent-hover(href="#") Видео




//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')calc