extends ../pug/layout.pug

block meta
  title Миссия, стратегия и ценности компании
  meta(name='description' content='')

//- block append head
//-   link(rel='stylesheet' href='css/some.css')


block content

  section.about.news.a-section
    .about__inner.container
      h2.about__title.title-h2 Миссия, стратегия и ценности компании
      
      h3.about__hello.subtitle.m-b-40  Миссия
      .hr-det__descr.m-b-40 
        p.hr-det__text.text АО&nbsp;&laquo;Теплоэнерго&raquo;&nbsp;&mdash; крупнейший поставщик тепловой энергии в&nbsp;Нижнем Новгороде. На&nbsp;долю компании приходится более&nbsp;50% объема услуг по&nbsp;обеспечению теплом и&nbsp;горячей водой. Общество было образовано 22.12.2006 путем реорганизации МП&nbsp;&laquo;Теплоэнерго&raquo;. Единственным акционером АО&nbsp;&laquo;Теплоэнерго&raquo; является муниципальное образование &laquo;Городской округ &laquo;Город Нижний Новгород&raquo;.
      h3.about__hello.subtitle.m-b-40  Стратегия и ценности компании
      .hr-det__descr.m-b-40 
        p.hr-det__text.text Обслуживаемая техническая база предприятия состоит из&nbsp;112&nbsp;котельных, более 142 центральных тепловых пунктов и&nbsp;тепловых сетей общей протяженностью свыше 1700&nbsp;км. Крупнейший источник&nbsp;&mdash; Нагорная теплоцентраль мощностью 650&nbsp;Гкал/час является уникальным объектом, обеспечивает теплом и&nbsp;горячей водой более 2,2 тысяч зданий в&nbsp;Советском и&nbsp;Нижегородском районах.
        p.hr-det__text.text Всего предприятие осуществляет теплоснабжение более 8,3 тысяч объектов, в&nbsp;том числе 5,7 тысяч многоквартирных жилых домов, более 650 социальных учреждений во&nbsp;всех районах города, за&nbsp;исключением Автозаводского, части Ленинского и&nbsp;части Нижегородского районов. АО&nbsp;&laquo;Теплоэнерго&raquo; постоянно ведет работы, направленные на&nbsp;повышение надежности и&nbsp;качества теплоснабжения и&nbsp;горячего водоснабжения потребителей, осуществляет модернизацию и&nbsp;реконструкцию теплоэнергетического оборудования и&nbsp;тепловых сетей, применяет современные технологии, уже сейчас уровень автоматизации&nbsp;50%, повышает эффективность своей работы во&nbsp;взаимодействии с&nbsp;потребителями поставляемых ресурсов. По&nbsp;итогам профессионального конкурса среди контакт-центров России и&nbsp;стран СНГ в&nbsp;2015 году Центр дистанционного обслуживания Теплоэнерго получил награду &laquo;Лучший центр по&nbsp;обслуживанию населения в&nbsp;государственных органах и&nbsp;секторе ЖКХ&raquo;.

      .win 
        .win__inner 
          .win__icon 
            svg(width='33' height='31' viewBox='0 0 33 31' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M16.5 20.3748C21.3325 20.3748 25.25 16.3421 25.25 11.3675V1.4165H7.75V11.3675C7.75 16.3421 11.6675 20.3748 16.5 20.3748Z' fill='white' stroke='#455582' stroke-width='2' stroke-linejoin='round')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M7.74984 13.8122V6.52051H1.9165C1.9165 11.3816 4.83317 13.8122 7.74984 13.8122Z' stroke='#455582' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M25.25 13.8122V6.52051H31.0833C31.0833 11.3816 28.1667 13.8122 25.25 13.8122Z' stroke='#455582' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none')
              path(d='M16.5 21.833V24.7497' stroke='#455582' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M9.9375 29.125L12.6282 24.75H20.1768L23.0625 29.125H9.9375Z' fill='white' stroke='#455582' stroke-width='2' stroke-linejoin='round')
          .win__descr 
            p.win__text Компания дважды становилось победителем Всероссийского конкурса на&nbsp;лучшее предприятие, организацию жилищно-коммунального хозяйства организованного Министерством регионального развития России.


//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')calc