extends ../pug/layout.pug

block meta
  title Новости
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')


block content

  section.news.recent-news.a-section(class=allMods)&attributes(attributes)
    .recent-news__inner.container
      h2.recent-news__title.title-h2
        a(href="").recent-news__title-link.title-h2.accent-hover Новости
      ul.recent-news__list.m-b-40 
        li.recent-news__item.display-block 
          article.recent-article 
            .recent-article__pic.recent-news__pic
              img.recent-article__img(src="img/news1.jpg", alt="Новость1")
            .recent-article__meta
              time(datetime="2020-12-04 19:00").recent-article__date 04.12.2020
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Конкурс чистоты и порядка
              .recent-article__data 
                span.recent-article__view 125
                span.recent-article__comment 15
                .recent-article__em 
                  span.recent-article__like 63
                  span.recent-article__dislike 2
        li.recent-news__item.display-block 
          article.recent-article 
            .recent-article__pic.recent-news__pic
              img.recent-article__img(src="img/news2.jpg", alt="Новость2")
            .recent-article__meta
              time(datetime="2020-12-04 19:00").recent-article__date 04.12.2020
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Конкурс чистоты и порядка
              .recent-article__data 
                span.recent-article__view 125
                span.recent-article__comment 15
                .recent-article__em 
                  span.recent-article__like 63
                  span.recent-article__dislike 2
        li.recent-news__item.display-block 
          article.recent-article 
            .recent-article__pic.recent-news__pic
              img.recent-article__img(src="img/news3.jpg", alt="Новость3")
            .recent-article__meta
              time(datetime="2020-12-04 19:00").recent-article__date 04.12.2020
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Конкурс чистоты и порядка
              .recent-article__data 
                span.recent-article__view 125
                span.recent-article__comment 15
                .recent-article__em 
                  span.recent-article__like 63
                  span.recent-article__dislike 2
      ul.recent-news__list.m-b-40  
        li.recent-news__item.display-block 
          article.recent-article 
            .recent-article__pic.recent-news__pic
              img.recent-article__img(src="img/news1.jpg", alt="Новость1")
            .recent-article__meta
              time(datetime="2020-12-04 19:00").recent-article__date 04.12.2020
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Конкурс чистоты и порядка
              .recent-article__data 
                span.recent-article__view 125
                span.recent-article__comment 15
                .recent-article__em 
                  span.recent-article__like 63
                  span.recent-article__dislike 2
        li.recent-news__item.display-block 
          article.recent-article 
            .recent-article__pic.recent-news__pic
              img.recent-article__img(src="img/news2.jpg", alt="Новость2")
            .recent-article__meta
              time(datetime="2020-12-04 19:00").recent-article__date 04.12.2020
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Конкурс чистоты и порядка
              .recent-article__data 
                span.recent-article__view 125
                span.recent-article__comment 15
                .recent-article__em 
                  span.recent-article__like 63
                  span.recent-article__dislike 2
        li.recent-news__item.display-block 
          article.recent-article 
            .recent-article__pic.recent-news__pic
              img.recent-article__img(src="img/news3.jpg", alt="Новость3")
            .recent-article__meta
              time(datetime="2020-12-04 19:00").recent-article__date 04.12.2020
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Конкурс чистоты и порядка
              .recent-article__data 
                span.recent-article__view 125
                span.recent-article__comment 15
                .recent-article__em 
                  span.recent-article__like 63
                  span.recent-article__dislike 2
      ul.recent-news__list.m-b-40  
        li.recent-news__item.display-block 
          article.recent-article 
            .recent-article__pic.recent-news__pic
              img.recent-article__img(src="img/news1.jpg", alt="Новость1")
            .recent-article__meta
              time(datetime="2020-12-04 19:00").recent-article__date 04.12.2020
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Конкурс чистоты и порядка
              .recent-article__data 
                span.recent-article__view 125
                span.recent-article__comment 15
                .recent-article__em 
                  span.recent-article__like 63
                  span.recent-article__dislike 2
        li.recent-news__item.display-block 
          article.recent-article 
            .recent-article__pic.recent-news__pic
              img.recent-article__img(src="img/news2.jpg", alt="Новость2")
            .recent-article__meta
              time(datetime="2020-12-04 19:00").recent-article__date 04.12.2020
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Конкурс чистоты и порядка
              .recent-article__data 
                span.recent-article__view 125
                span.recent-article__comment 15
                .recent-article__em 
                  span.recent-article__like 63
                  span.recent-article__dislike 2
        li.recent-news__item.display-block 
          article.recent-article 
            .recent-article__pic.recent-news__pic
              img.recent-article__img(src="img/news3.jpg", alt="Новость3")
            .recent-article__meta
              time(datetime="2020-12-04 19:00").recent-article__date 04.12.2020
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Конкурс чистоты и порядка
              .recent-article__data 
                span.recent-article__view 125
                span.recent-article__comment 15
                .recent-article__em 
                  span.recent-article__like 63
                  span.recent-article__dislike 2
  +pagination()               
    




//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')