extends ../pug/layout.pug

block meta
  title Организационная структура
  meta(name='description' content='')

//- block append head
//-   link(rel='stylesheet' href='css/some.css')


block content

  section.org.news.a-section
    .org__inner.container.container--big
      h2.org__title.title-h2 Организационная структура
      .org__structure 
        img(src="img/org.png", alt="Организационная структура")



//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')calc