extends ../pug/layout.pug

block meta
  title Фото
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')


block content

  section.album.news.a-section(class=allMods)&attributes(attributes)
    .album__inner.container
      h2.album__title.title-h2
        a(href="").album__title-link.title-h2.accent-hover Фото   
      ul.album__list.m-b-40 
        li.album__item.display-block 
          article.recent-article 
            .recent-article__pic.album__pic
              img.recent-article__img(src="img/photo1.jpg", alt="Новость1")
            .recent-article__meta
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Название альбома
              .recent-article__data 
                span.recent-article__photo 17 фото
        li.album__item.display-block 
          article.recent-article 
            .recent-article__pic.album__pic
              img.recent-article__img(src="img/photo2.jpg", alt="Новость2")
            .recent-article__meta
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Название альбома
              .recent-article__data 
                span.recent-article__photo 12 фото
        li.album__item.display-block 
          article.recent-article 
            .recent-article__pic.album__pic
              img.recent-article__img(src="img/photo3.jpg", alt="Новость3")
            .recent-article__meta
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Название альбома
              .recent-article__data 
                span.recent-article__photo 5 фото
      ul.album__list.m-b-40  
        li.album__item.display-block 
          article.recent-article 
            .recent-article__pic.album__pic
              img.recent-article__img(src="img/photo1.jpg", alt="Новость1")
            .recent-article__meta
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Название альбома
              .recent-article__data 
                span.recent-article__photo 20 фото
        li.album__item.display-block 
          article.recent-article 
            .recent-article__pic.album__pic
              img.recent-article__img(src="img/photo2.jpg", alt="Новость2")
            .recent-article__meta
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Название альбома 
              .recent-article__data 
                span.recent-article__photo 17 фото
        li.album__item.display-block 
          article.recent-article 
            .recent-article__pic.album__pic
              img.recent-article__img(src="img/photo3.jpg", alt="Новость3")
            .recent-article__meta
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Название альбома
              .recent-article__data 
                span.recent-article__photo 17 фото
      ul.album__list.m-b-40  
        li.album__item.display-block 
          article.recent-article 
            .recent-article__pic.album__pic
              img.recent-article__img(src="img/photo1.jpg", alt="Новость1")
            .recent-article__meta
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Название альбома
              .recent-article__data 
                span.recent-article__photo 17 фото
        li.album__item.display-block 
          article.recent-article 
            .recent-article__pic.album__pic
              img.recent-article__img(src="img/photo2.jpg", alt="Новость2")
            .recent-article__meta
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Название альбома
              .recent-article__data 
                span.recent-article__photo 17 фото
        li.album__item.display-block 
          article.recent-article 
            .recent-article__pic.album__pic
              img.recent-article__img(src="img/photo3.jpg", alt="Новость3")
            .recent-article__meta
              h3.recent-article__title
                a.recent-article__link.news-title.accent-hover(href="#")  Название альбома
              .recent-article__data 
                span.recent-article__photo 17 фото
  +pagination()               
    




//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')