extends ../pug/layout.pug

block meta
  title Список опросов
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')


block content
  section.quest-list.news.a-section
    .quest-list__inner.container
      h2.quest-list__title.title-h2 Список опросов

      .flex
        div.flex__list
          div.flex__item.item-bg-primary
            a(href="#").flex__link
              h4.flex__doc-title.news-title Конкурс детского рисунка &laquo;Раскрась маску&raquo; (11-13&nbsp;лет)
              .flex__btn 
                span.flex__more.more-link Подробнее
          div.flex__item.item-bg-primary
            a(href="#").flex__link
              h4.flex__doc-title.news-title Конкурс детского рисунка &laquo;Раскрась маску&raquo; (11-13&nbsp;лет)
              .flex__btn 
                span.flex__more.more-link Подробнее
          div.flex__item.item-bg-primary
            a(href="#").flex__link
              h4.flex__doc-title.news-title Конкурс детского рисунка &laquo;Раскрась маску&raquo; (11-13&nbsp;лет)
              .flex__btn 
                span.flex__more.more-link Подробнее
          div.flex__item.item-bg-primary
            a(href="#").flex__link
              h4.flex__doc-title.news-title Конкурс детского рисунка &laquo;Раскрась маску&raquo; (11-13&nbsp;лет)
              .flex__btn 
                span.flex__more.more-link Подробнее
          div.flex__item.item-bg-primary
            a(href="#").flex__link
              h4.flex__doc-title.news-title Конкурс детского рисунка &laquo;Раскрась маску&raquo; (11-13&nbsp;лет)
              .flex__btn 
                span.flex__more.more-link Подробнее
          div.flex__item.item-bg-primary
            a(href="#").flex__link
              h4.flex__doc-title.news-title Конкурс детского рисунка &laquo;Раскрась маску&raquo; (11-13&nbsp;лет)
              .flex__btn 
                span.flex__more.more-link Подробнее




//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
