extends ../pug/layout.pug

block meta
  title Кадровый помощник список
  meta(name='description' content='')

//- block append head
//-   link(rel='stylesheet' href='css/some.css')


block content

  section.staff-help.news.a-section
    .staff-help__inner.container
      h2.staff-helps__title.title-h2 Кадровый помощник список


      .staff-help__content
        ul.staff-help__list
          li.staff-help__item.item-bg-primary
            h4.staff-help__doc-title.news-title Отдел организационного проектирования и формирования персонала
            .staff-help__btn.more 
              span.staff-help__more.more-link Подробнее
              .staff-help__footer 
                .text Переподготовка рабочих и&nbsp;служащих&nbsp;&mdash; профессиональное обучение лиц, уже имеющих профессию рабочего, профессии рабочих или должность служащего, в&nbsp;целях получения новой профессии рабочего или должности служащего с&nbsp;учётом потребностей производства, вида профессиональной деятельности.

          li.staff-help__item.item-bg-primary
            h4.staff-help__doc-title.news-title Отдел подбора и обученияперсонала
            .staff-help__btn.more
              span.staff-help__more.more-link Подробнее
              .staff-help__footer 
                .text  Переподготовка рабочих и&nbsp;служащих &nbsp;&mdash; профессиональное обучение лиц, уже имеющих профессию рабочего, профессии рабочих или должность служащего, в&nbsp;целях получения новой профессии рабочего или должности служащего с&nbsp;учётом потребностей производства, вида профессиональной деятельности.

          li.staff-help__item.item-bg-primary
            h4.staff-help__doc-title.news-title Отдел кадров
            .staff-help__btn.more 
              span.staff-help__more.more-link Подробнее
              .staff-help__footer 
                .text Переподготовка рабочих и&nbsp;служащих&nbsp;&mdash; профессиональное обучение лиц, уже имеющих профессию рабочего, профессии рабочих или должность служащего, в&nbsp;целях получения новой профессии рабочего или должности служащего с&nbsp;учётом потребностей производства, вида профессиональной деятельности.


//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')calc