extends ../pug/layout.pug

block meta
  title Организационная структура
  meta(name='description' content='')

//- block append head
//-   link(rel='stylesheet' href='css/some.css')


block content

  section.org-structure.news.a-section
    .org-structure__inner.container
      h2.org-structure__title.title-h2 Организационная структура
      .org-structure__structure 
        img(src="img/org-structure.png", alt="Структура организации")



//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')calc